<h1>Share A News</h1>
<form [formGroup]="newsForm" (ngSubmit)="postNews()" enctype="multipart/form-data">
    <table>
        <tr>
            <td><label for="title">Title:</label></td>
            <td><input type="text" formControlName="title"></td>
        </tr>
        <tr>
            <td><label for="photo">Photo:</label></td>
            <td><input type="file" name="photo" id="photo" accept="image/*" #image></td>
        </tr>
        <tr>
            <td><label for="description">Description:</label></td>
            <td><textarea formControlName="description" cols="30" rows="10"></textarea></td>
        </tr>
        <tr>
            <td><label for="tags">tags</label></td>
            <td>
                <input type="text" formControlName="tags">
                <button type="button" (click)="addTags()">+</button>
            </td>
        </tr>
        <tr *ngIf="tagArr.length > 0">
            <td></td>
            <td>
                <button *ngFor="let tag of tagArr" type="button" (click)="deleteTag(tag)">{{tag}}</button>
            </td>
        </tr>
        <tr>
            <td><button type="button" routerLink="'/'">Back</button></td>
            <td style="text-align: end;" ><button type="submit" [disabled]="newsForm.invalid || disableForm">Post News</button></td>
        </tr>
    </table>
</form>